$text-main: #425A70;
$text-dark: #234361;
$text-blue: #1070CA;
$text-link: #4DA8FF;
$project-box: #212528;
$project-box-bar: #1E1E1E;
$project-category: #808082;
$project-text: #A3A3A3;
$contact-bg: #DBEAF7;