@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import "_variables";
@import "modules/person.scss";
@import "modules/skills.scss";
@import "modules/main-section.scss";
@import "modules/projects.scss";

html {
  box-sizing: border-box;
}

 *, *:before, *:after {
   box-sizing:inherit;
  }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}
